In [5]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [66]:
df_2012 = pd.read_csv('/Users/zoepan/Desktop/orie4741_project/data/county_2016_preprocessed1.csv')
df_2012.head()

,FIPS,County,DEM,GOP,MedianIncome,MigraRate,BirthRate,DeathRate,BachelorRate,UnemploymentRate,State,zip,primary_city,latitude,longitude,estimated_population
0,1001,Autauga,5908.0,18110.0,"54,487",5.3,12.2,10.0,27.7,5.1,AL,36003.0,Autaugaville,32.43,-86.65,1628.0
1,1003,Baldwin,18409.0,72780.0,"56,460",21.5,11.2,9.8,31.3,5.3,AL,31034.0,Hardwick,32.99,-83.29,1741.0
2,1005,Barbour,4848.0,5431.0,"32,884",-18.2,10.6,10.8,12.2,8.3,AL,26238.0,Volga,39.06,-80.11,698.0
3,1007,Bibb,1874.0,6733.0,"43,079",-0.8,12.1,10.8,11.5,6.4,AL,31052.0,Lizella,32.76,-83.86,7592.0
4,1009,Blount,2150.0,22808.0,"47,213",-1.0,12.2,11.2,12.6,5.4,AL,35013.0,Allgood,33.90,-86.51,0.0

Splitting regions based on wikipedia article (Census Bureau-designated regions and divisions)
https://en.wikipedia.org/wiki/List_of_regions_of_the_United_States

Region 1: Northeast  
- Division 1: New England (Connecticut, Maine, Massachusetts, New Hampshire, Rhode Island, and Vermont)  
- Division 2: Mid-Atlantic (New Jersey, New York, and Pennsylvania)

In [61]:
new_england_list = ["CT", "ME", "MA", "NH", "RI", "VT"]
mid_atlantic_list = ["NJ", "NY", "PA"]

northeast = df_2012[df_2012['State'].isin(new_england_list + mid_atlantic_list)]
new_england = df_2012[df_2012['State'].isin(new_england_list)]
mid_atlantic = df_2012[df_2012['State'].isin(mid_atlantic_list)]

In [64]:
medinc_northeast = northeast.groupby(['State']).sum()
northeast

,FIPS,County,DEM,GOP,MedianIncome,MigraRate,BirthRate,DeathRate,BachelorRate,UnemploymentRate,State,zip,primary_city,latitude,longitude,estimated_population
308,9001,Fairfield,238723.0,155457.0,"89,954",-4.0,10.6,7.1,47.4,4.9,CT,6404.0,Botsford,41.39,-73.31,0.0
309,9003,Hartford,233789.0,147912.0,"69,341",-4.2,10.5,8.7,37.8,5.4,CT,6064.0,Poquonock,41.87,-72.67,0.0
310,9005,Litchfield,39836.0,53376.0,"76,323",-5.4,7.8,9.7,35.1,4.7,CT,6018.0,Canaan,42.03,-73.33,2308.0
311,9007,Middlesex,45306.0,38847.0,"80,190",-1.3,8.0,9.1,41.5,4.4,CT,1431.0,Ashby,42.68,-71.81,2749.0
312,9009,New Haven,203601.0,158373.0,"66,012",-3.9,10.3,9.0,34.9,5.5,CT,6401.0,Ansonia,41.34,-73.06,15455.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2815,50019,Orleans,5181.0,5158.0,"43,107",-7.5,10.0,12.5,21.6,5.3,VT,5820.0,Albany,44.73,-72.38,0.0
2816,50021,Rutland,13629.0,12471.0,"50,569",-4.2,8.6,11.7,30.3,3.8,VT,5701.0,Rutland,43.60,-72.97,16970.0
2817,50023,Washington,18594.0,7993.0,"55,803",-4.9,9.1,9.2,41.5,3.2,VT,2804.0,Ashaway,41.42,-71.78,2518.0
2818,50025,Windham,14340.0,5462.0,"47,074",0.0,8.8,10.5,38.6,3.3,VT,5101.0,Bellows Falls,43.13,-72.45,3543.0
2819,50027,Windsor,17544.0,8604.0,"58,123",-1.7,8.4,10.3,36.3,2.9,VT,5001.0,White River Junction,43.65,-72.32,6028.0

Region 2: Midwest  
- Division 3: East North Central (Illinois, Indiana, Michigan, Ohio, and Wisconsin)  
- Division 4: West North Central (Iowa, Kansas, Minnesota, Missouri, Nebraska, North Dakota, and South Dakota)

In [60]:
east_north_central_list = ["IL", "IN", "MI", "OH", "WI"]
west_north_central_list = ["IA", "KS", "MN", "MO", "NE", "ND", "SD"]

midwest = df_2012[df_2012['State'].isin(east_north_central_list + west_north_central_list)]
east_north_central = df_2012[df_2012['State'].isin(east_north_central_list)]
west_north_central = df_2012[df_2012['State'].isin(west_north_central_list)]

Region 3: South
- Division 5: South Atlantic (Delaware, Florida, Georgia, Maryland, North Carolina, South Carolina, Virginia, District of Columbia, and West Virginia)
- Division 6: East South Central (Alabama, Kentucky, Mississippi, and Tennessee)
- Division 7: West South Central (Arkansas, Louisiana, Oklahoma, and Texas)

In [36]:
south_atlantic_list = ["DE", "FL", "GA", "MD", "NC", "VA", "DC", "WV"]
east_south_central_list = ["AL", "KY", "MS", "TN"]
west_south_central_list = ["AR", "LA", "OK", "TX"]

south = df_2012[df_2012['State'].isin(south_atlantic_list+east_south_central_list+west_south_central_list)]
south_atlantic = df_2012[df_2012['State'].isin(south_atlantic_list)]
east_south_central = df_2012[df_2012['State'].isin(east_south_central_list)]
west_south_central = df_2012[df_2012['State'].isin(west_south_central_list)]

Region 4: West
- Division 8: Mountain (Arizona, Colorado, Idaho, Montana, Nevada, New Mexico, Utah, and Wyoming)
- Division 9: Pacific (Alaska, California, Hawaii, Oregon, and Washington)

In [37]:
mountain_list = ["AZ", "CO", "ID", "MT", "NV", "NM", "UT", "WY"]
pacific_list = ["AK", "CA", "HI", "OR", "WA"]

west = df_2012[df_2012['State'].isin(mountain_list+pacific_list)]
mountain = df_2012[df_2012['State'].isin(mountain_list)]
pacific = df_2012[df_2012['State'].isin(pacific_list)]